---
layout: default
title: Статьи
permalink: /articles.html
grouptype: page
description: Список статей
id: /articles.html
---
<div class="archives">
{% assign posts = site.posts %}
{% for post in posts %}
	{% capture month %}
		{{ post.date | date:'%B %Y' }}
	{% endcapture %}
	{% if last_month != month %}
		<h3>{{ month }}</h3>
			<div class="list"><a href="{{ post.id }}/" title="{{ post.title }}">{{ post.title }}</a></div>
		{% assign last_month = month %}
	{% else %}
		  <div class="list"><a href="{{ post.id }}/" title="{{ post.title }}">{{ post.title }}</a></div>
	{% endif %}
{% endfor %}
</div>
<div class="clear"></div>
