<!--noindex--><div>
	<a name="#" />
    <a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.juev.ru{{ page.url }}');" title="Share It!" rel="nofollow"><img src="/share/facebook.png" alt="Share it!" /></a>
	<a href="#" onclick="window.open('http://twitter.com/home?status={{ page.title }} | http://www.juev.ru{{ page.url }}');" title="Tweet It!" rel="nofollow"><img src="/share/twitter.png" alt="Tweet it!" /></a>
    <a href="#" onclick="window.open('http://digg.com/submit?url=http://www.juev.ru{{ page.url }}');" title="Digg It!" rel="nofollow"><img src="/share/digg.png" alt="Digg it!" /></a>
    <a href="#" onclick="Evernote.doClip({providerName:'Open Source Life'}); return false;" rel="nofollow"><img src="/share/site-mem-32.png" alt="Clip to Evernote" /></a></div><!--/noindex-->
