<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" itemscope itemtype="http://schema.org/Article">
<head>
  <link rel="dns-prefetch" href="//static.juev.ru">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@Juev">{% if page.title %}
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}">
  <meta name="twitter:title" content="{{ page.title }}">{% elsif page.grouptype == "tag" %}
  <title>Posts Tagged "{{ page.tag }}"</title>
  <meta property="og:title" content="Posts Tagged '{{ page.tag }}'">{% else %}
  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title }}">{% endif %}
  <meta property="og:site_name" content="{{ site.title }}">{% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}">{% else %}
  <meta name="description" content="{{ page.content | markdownify | strip_html | strip_newlines | xml_escape | replace: '.','. ' | truncate: 200 }}">
  <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | xml_escape | replace: '.','. ' | truncate: 200 }}">
  <meta name="twitter:description" content="{{ page.content | markdownify | strip_html | strip_newlines | xml_escape | replace: '.','. ' | truncate: 200 }}">{% endif %}{% if page.grouptype == "index" %}
  <meta property="og:type" content="website">{% else %}
  <meta property="og:type" content="article">{% endif %}{% if page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.id | canonical | replace:'index.html','' }}">{% endif %}{% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}{% if page.tags %}
  {% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}">{% endfor %}{% endif %}{% if page.image %}
  <meta property="og:image" content="{{ page.image }}">
  <meta itemprop="image" content="{{ page.image }}">
  <meta name="twitter:image" content="{{ page.image }}">{% else %}
  <meta property="og:image" content="//static.juev.ru/image.jpg">
  <meta itemprop="image" content="//static.juev.ru/image.jpg">
  <meta name="twitter:image" content="//static.juev.ru/image.jpg">{% endif %}  
  <meta name="keywords" content="{% if page.keywords %}{{page.keywords}}{% else %}{{site.keywords}}{% endif %}">
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end -->
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="url" content="{{ site.url }}{{ page.id | canonical | replace:'index.html','' }}/">
  <meta itemprop="inLanguage" content="ru">
  <meta itemprop="author" content="Denis Evsyukov">
  <meta itemprop="keywords" content="{% if page.keywords %}{{page.keywords}}{% else %}{{site.keywords}}{% endif %}">
  <meta itemprop="datePublished" content="{% if page.date %}{{ page.date | date: "%Y-%m-%d" }}{% else %}{{ site.time | date: "%Y-%m-%d" }}{% endif %}"/>
  <link rel="canonical" href="{{ site.url }}{{ page.id | canonical | replace:'index.html',''}}/">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="//www.juev.ru/atom.xml">
  <link href="/assets/master.css" rel="stylesheet" type="text/css">
  <link rel="prefetch" href="/articles.html" />{% if page.previous %}
  <link rel="prefetch" href="{{ page.previous.url }}" />{% endif %}{% if page.next %}
  <link rel="prefetch" href="{{ page.next.url }}" />{% endif %}
</head>
<body class="wide">
  <div class="navigation">
    <div class="width-fix">
        <a href="/" id="home" rel="nofollow"></a>
      <ul>
        <li><a href="/articles.html" rel="nofollow">Статьи</a></li>
        <li>|</li>
        <li><a href="//denis.evsyukov.org">Об авторе</a></li>
      </ul>
    </div>
  </div>
  <div class="primary-content width-fix">
    <div class="entry">
      {{ content }}
    </div>
  </div><!-- noindex -->
  <div class="footer">
    <div class="width-fix">
      <p><a href="/articles.html" rel="nofollow">Список статей</a> :: <a href="/tags.html" rel="nofollow">Теги</a> :: <a href="//www.juev.ru/atom.xml" rel="nofollow">RSS</a></p>
      <p>&copy; 2008&ndash;{{ site.time | date: "%Y" }}&nbsp;<a href="http://plus.google.com/116661482374124481456?rel=author">Denis Evsyukov</a>. Contact me via <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#101;&#110;&#105;&#115;&#64;&#101;&#118;&#115;&#121;&#117;&#107;&#111;&#118;&#46;&#111;&#114;&#103;" rel="nofollow">mail</a>,&nbsp;
      <a href="//twitter.com/#!/Juev" rel="nofollow">twitter</a> or&nbsp;
      <a href="//github.com/Juev" rel="nofollow">github</a></p>
    </div>
  </div>
  <script async src="/assets/master.min.js"></script>  
  <script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-26480484-2']);_gaq.push(['_trackPageview']);</script>
  <script async src="//google-analytics.com/ga.js"></script>
 </body>
</html>
