<!--
OK, so you are looking at the source code.
That's great, and we do (often) the same.
BTW, you're a cool guy/gal if you're reading this :)
May the charm be with you!
-->
<!DOCTYPE html>
<html>
<head>
  <link rel="dns-prefetch" href="//static.juev.ru">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">{% if page.title %}
  <title>{{ page.title }}</title>{% elsif page.grouptype == "tag" %}
  <title>Posts Tagged "{{ page.tag }}"</title>{% else %}
  <title>{{ site.title }}</title>{% endif %}{% if page.description %}
  <meta name="description" content="{{ page.description }}">{% else %}
  <meta name="description" content="{{ page.content | markdownify | strip_html | strip_newlines | xml_escape | replace: '.','. ' | truncate: 200 }}">{% endif %}
  <meta name="keywords" content="{% if page.keywords %}{{page.keywords}}{% else %}{{site.keywords}}{% endif %}">
  <meta name="author" content="Denis Evsyukov">
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end -->
  <link rel="canonical" href="{{ site.url }}{{ page.id | canonical | replace:'index.html',''}}/">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="http://www.juev.ru/atom.xml">
  <link href="/assets/master.css" rel="stylesheet" type="text/css">{% if page.previous %}
  <link rel="prev" href="{{ page.previous.url }}">{% endif %}{% if page.next %}
  <link rel="next" href="{{ page.next.url }}">{% endif %}
</head>
<body class="wide">
  <div class="navigation">
    <div class="width-fix">
        <a href="/" id="home" rel="nofollow"></a>
      <ul>
        <li><a href="/articles.html" rel="nofollow">Статьи</a></li>
        <li>|</li>
        <li><a href="//denis.evsyukov.org">Об авторе</a></li>
      </ul>
      <a href="https://www.digitalocean.com/?refcode=c5cb9e6574a7" id="o2" rel="nofollow"></a>
    </div>
  </div>
  <div class="primary-content width-fix">
    <div class="entry">
      {{ content }}
    </div>
  </div><!-- noindex -->
  <div class="footer">
    <div class="width-fix">
      <p><a href="/articles.html" rel="nofollow">Список статей</a> :: <a href="/tags.html" rel="nofollow">Теги</a> :: <a href="//www.juev.ru/atom.xml" rel="nofollow">RSS</a></p>
      <p>&copy; 2008&ndash;{{ site.time | date: "%Y" }}&nbsp;<a href="http://plus.google.com/116661482374124481456?rel=author">Denis Evsyukov</a>. Contact me via <script type="text/javascript">document.write("<n uers=\"znvygb:qravf\100riflhxbi\056bet\">Rznvy</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));</script>,&nbsp;
      <a href="//twitter.com/#!/Juev" rel="nofollow">twitter</a> or&nbsp;
      <a href="//github.com/Juev" rel="nofollow">github</a></p>
    </div>
  </div>
  <script async src="/assets/master.min.js"></script>
  <script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-26480484-2']);_gaq.push(['_trackPageview']);</script>
  <script async src="//google-analytics.com/ga.js"></script>
 </body>
</html>
