---
layout: default
---
<div itemscope itemtype="http://schema.org/Article">
<meta itemprop="inLanguage" content="ru" />
<h1 class="title" itemprop="name">{{ page.title }}</h1>
<div id="metainfo">
<meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}"/>
<meta itemprop="author" content="Denis Evsyukov"/>
<span class="date">{{ page.date | date_to_long_string }}</span> 
<span class="tags" itemprop="keywords">{% assign post = page %}{% for tag in post.tags %}
  <a href="/tags/{{ tag }}/" title="View posts tagged with &quot;{{ tag }}&quot;" rel="nofollow">#{{ tag }}</a>{% if forloop.last != true %} {% endif %}{% endfor %}</span>
</div>
<div class="post" itemprop="articleBody">
{{ content }}
</div>
<div class="meta">
  {% include nav.html %}
</div>
</div>