/* general style */
body    { font: 18px/27px 'Georgia', serif;
          margin: 0; padding: 0; }
a       { color: #055580; text-decoration: none;}
a:hover { color: #0097E8; text-decoration: none;}
a#license {	color: #888; text-decoration: none; border-bottom: 1px dashed;}

/* headlines */
h1, h2, h3, h4, h5, h6      { font-family: 'Georgia', serif;
                              font-weight: normal; color: #222; }
h1 a, h2 a, h3 a, h4 a,
h5 a, h6 a                  { text-decoration: none; }
/*h1 a:hover, h2 a:hover,
h3 a:hover, h4 a:hover      { color: #432165; text-decoration: underline; }*/
h1.title                    { width: 560px; }
h1, h2                      { margin: 10px 0 25px 0; }
h1                          { font-size: 48px; line-height: 52px; }
h2                          { font-size: 36px; line-height: 40px; }

/* layout elements */
div.container               { width: 740px; margin: 48px auto; padding: 0; }
div.header                  { float: left; }
div.navigation              { float: right; font-family: 'Georgia'; font-size: 30px; }
div.navigation a            { text-decoration:none; }
div.navigation a#rss        { text-decoration:none; }
div.header, div.navigation  { height: 25px; margin-bottom: 42px; }
div.navigation ul           { margin: 10px 0 3px; padding: 0; list-style: none; }
div.navigation ul li        { display: inline; margin: 0 3px; padding: 0; }
div.body                    { clear: both; }
div.footer                  { border-top: 1px dotted #ddd; padding-top: 19px;
                              margin-top: 42px; font-size: 16px; color: #888;
                              text-align: center; overflow: hidden;}
div.footer p                { margin: 0; }

/* margins and stuff */
/*p, div.line-block, ul, ol, pre  { margin: 25px 0 25px 0; }*/
dt                              { margin: 25px 0 16px 0; padding: 0; }
dd                              { margin: 16px 0 25px 40px; padding: 0; }
ul ol, ol ul, ul ul, ol ol      { margin: 10px 0; padding: 0 0 0 40px; }
li                              { padding: 0; }
h1 + p.date                     { margin-top: -14px; font-style: italic; }

/* code formatting.  no monospace because of webkit (bug?) */
code 			{ font-family: 'Consolas', 'Deja Vu Sans Mono',
                  'Bitstream Vera Sans Mono', 'Monaco', 'Courier New';}
pre code   		{ font-size: 0.82em; }
pre             { line-height: 1.3; border: 1px solid #ddd; padding: 10px;
                  background: #fafafa; }
code, tt        { background: #eee; 
                  font-size: 0.92em; }

/* tables */
table           { border: 1px solid #ddd; border-collapse: collapse;
                  background: #fafafa; }
td, th          { padding: 2px 12px; border: 1px solid #ddd; }

/* blog overview */
/* div.entry-overview                  { margin: 25px 122px 25px 102px; } */
div.entry-overview                  { margin: 50px 5px 25px 5px; }
div.entry-overview h1,
div.entry-overview div.summary,
div.entry-overview div.summary p    { display: inline; line-height: 25px; }
div.entry-overview h1               { margin: 0; font-size: 20px; }
div.entry-overview div.summary,
div.entry-overview div.date,
div.entry-overview div.summary p    { margin: 0; padding: 0; }
div.entry-overview div.detail       { margin-left: 140px; }
div.entry-overview div.date         { float: left; width: 120px; color: #888;
                                      text-align: right; font-style: italic; }
div.entry-overview h1:after         { content: " —"; }

/* other alignment things */
img.align-center        { margin: 15px auto; display: block; }

/* pagination */
div.pagination          { margin: 36px 0 0 0; text-align: center; }
div.pagination strong   { font-weight: normal; font-style: italic; }

/* tags */
p.tags          { text-align: right; font-style: italic; }
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }

/* latex math */
span.math img   { margin-bottom: -7px; }

pre code {
/*  margin: 5px 0;
  padding: 10px;*/
  text-align: left;
  display: block;
  overflow: auto;
/*  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ; */
  /* white-space: pre; */
  background: #FAFAFA;
 /* border: 1px solid #f2f2f2; */
}

/*h1 a.title { color: red;}*/
div.header a { font-size: 48px; text-decoration: none; font-weight: bold; }
div.pagination a { font-size: 18px; text-decoration: none; font-weight: bold; }
.left { text-align: left; }
.right { text-align: right; }
.aligncenter { clear: both; display: block; float:none; margin-left: auto; margin-right: auto; }
.note{
  color: gray;
  text-align: center;
}
.meta img{ border:0; }
/* Paginators */
ol.pagination {
  list-style: none;
  margin: 1em auto;
  text-align: center;
}

ol.pagination > li {
  list-style: none;
  display: inline;
  padding: 0 0.5em;
}

ol.pagination > li.selected a {
  color: #000;
}

/* Twitter-trackback*/
div.twitter{ 
	margin-top: 25px;
    font-family:arial;
    font-size:14px;}
/* container */
div.twitter-trackbacks{ }
/* ul list */
ul.ttw-inner{
	padding:0;
	margin:0;
}
ul.ttw-inner li{
/*	border-bottom:silver 1px dotted;*/
	float:left;
	margin:1px 0 1px 0;
	padding:2px 2px 4px 2px;
	list-style-type:none;
	position:relative;
	height:72px;
	overflow:hidden;
	width:100%;
}
/*ul.ttw-inner li:last-child{ border-bottom:none; }*/
/* author img */
ul.ttw-inner span.ttw-author-img{
	display:block;
	width:32px;
	height:32px;
	margin:0 5px 0 2px;
	overflow:hidden;
	left:0;
	position:absolute;
}
/* author name */
ul.ttw-inner strong a{
	margin-right:5px;
}
/* tweet body */
ul.ttw-inner span.ttw-body {
	display:block;
	margin-left:55px;
}
/* tweet content */
ul.ttw-inner span.ttw-content{}

/* tweet meta : date, reply, retweet line */
ul.ttw-inner span.ttw-meta {
	color:#999999;
	display:block;
	font-size:0.764em;
	margin:3px 0 0;
}
ul.ttw-inner span.ttw-meta a{
	color:#999999;
	text-decoration:none;
}
ul.ttw-inner span.ttw-meta a:hover{
	text-decoration:underline;
}
/* customize reply link */
ul.ttw-inner a.ttw-reply { }
/* customize retweet link */
ul.ttw-inner a.ttw-retweet { }

/* customize links */
ul.ttw-inner a.ttw-link { }
/* customize @user links */
ul.ttw-inner a.ttw-at { }
/* customize #hashtags links */
ul.ttw-inner a.ttw-hashtag { }

/* Customize tweets of users with influence levels from 0 to 10 */
li.ttw-inf-0, li.ttw-inf-1, li.ttw-inf-2{ }
li.ttw-inf-3, li.ttw-inf-4, li.ttw-inf-5, li.ttw-inf-6{ 
	background:#ececec
}
li.ttw-inf-7, li.ttw-inf-8, li.ttw-inf-9, li.ttw-inf-10{
	background:#e0e0e0
}

/* Customize users image with influence levels from 0 to 10 */
li.ttw-inf-0 img{}
/* ...... */
li.ttw-inf-10 img{}

/* Customize users name with influence levels from 0 to 10 */
li.ttw-inf-0 strong{}
/* ...... */
li.ttw-inf-10 strong{}

/* Sprites*/
div.meta a#facebook.share{
	background: url('/images/share.png');
	background-position: -0px -0px; width: 32px; height: 32px;
	display:inline-block;
	margin: 0 1px;
}
div.meta a#twitter.share{
	background: url('/images/share.png');
	background-position: -0px -37px; width: 32px; height: 32px;
	display:inline-block;
	margin: 0 1px;
}
div.meta a#digg.share{
	background: url('/images/share.png');
	background-position: -0px -74px; width: 32px; height: 32px;
	display:inline-block;
	margin: 0 1px;
}
div.meta a#evernote.share{
	background: url('/images/share.png');
	background-position: -0px -111px; width: 32px; height: 32px;
	display:inline-block;
	margin: 0 1px;
}
