html,body.wide
{
  height:100%
}

body
{
  border-top:3px solid #BC5007;
  font:16px arial,serif;
  line-height: 1.6;
  color:#333 !important;
}

@media (min-width: 1000px) {
  body
  {
   font:16px 'Open Sans', arial, serif !important;
   line-height: 26px !important;
  }
  code
  {
   font-family:'Source Code Pro', monospace !important;
  }
}

.right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.center { margin-left: auto; margin-right: auto; text-align: center; }

caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr {
  border-spacing: 0; }

table {
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-collapse: collapse;
  display: table;
  empty-cells: hide;
  margin: -1px 0 1.3125em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

caption {
  display: table-caption;
  font-weight: 700; }

col {
  display: table-column; }

colgroup {
  display: table-column-group; }

tbody {
  display: table-row-group; }

tfoot {
  display: table-footer-group; }

thead {
  display: table-header-group; }

td, th {
  display: table-cell; }

tr {
  display: table-row; }

table th, table td {
  font-size: 1.1em;
  line-height: 23px;
  padding: 0 1em; }

table thead {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

table tbody {
  background: rgba(0, 0, 0, 0.05); }

table tfoot {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

dt, th {
  font-weight: 700; }

table tr:nth-child(odd), table th:nth-child(odd), table td:nth-child(odd) {
  background: rgba(255, 255, 255, 0.06); }

table tr:nth-child(even), table td:nth-child(even) {
  background: rgba(200, 200, 200, 0.25); }

caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
th { font-weight: bold; }
td, th { vertical-align:top;
  padding-left: 20px;
  padding-right: 20px;}
th.right  { text-align: right; }
th.left   { text-align: left; }
th.center { text-align: center; }
td.right  { text-align: right;  }
td.left   { text-align: left;   }
td.center { text-align: center; }

body.wide
{
  margin:0;
  padding:0
}

.footer
{
  padding:5px;
  height:95px;
  color:#bbb
}

.wide .footer
{
  position:relative;
  background-color:rgb(25, 30, 34);
}

.footer a
{
  color:#eee;
  text-decoration:none
}

.footer a:hover
{
  color:#BC5007;
  text-decoration:none
}

.footer p
{
  margin:15px 0 5px;
  text-transform:uppercase;
  letter-spacing:1px;
  font:11px/1.5 Helvetica,sans-serif!important
}

.wide .body
{
  margin:0 auto;
  max-width:750px;
  background:#FFF
}

.body
{
  text-align:left
}

.clear
{
  clear:both
}

strong
{
  font-weight: bold;
}

.primary-content
{
    padding:20px;
    border-bottom:7px solid #7f808a;
    background:#fff;
    .allpostsmeta a
    {
        color:#DEDEDE!important;
        font-weight:700;
        font-size:28px!important;
        font-family:Helvetica,sans-serif!important
    }
    a,
    a:visited
          {
              /* border-bottom:1px dashed; */
              /* color:#225E9B; */
              text-decoration:none;
              color: #4078C0;
              border-color: rgba(0, 0, 160, 0.15);
              border-bottom-width: 1px;
              border-bottom-style: solid;
              text-decoration: none;
          }
    a:hover
          {
              /* color:#0097E8; */
              text-decoration:none;
              color: #d04000;
              border-color: rgba(208, 64, 0, 0.15);
          }
}

.post p
{
  /* text-align: justify; */
  margin-top: 1em;
  margin-bottom: 1em;
}

.post ol li
{
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 0;
}

.post ul li
{
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 0;
}

.navigation
{
  height:108px;
  background-color:rgb(25, 30, 34);
  color:#fff;
  vertical-align:middle;
  font-size:15px;
}

.navigation .width-fix ul
{
  float:left;
  margin:50px 0 0;
  padding:0;
  list-style-type:none
}

.navigation .width-fix li
{
  float:left;
  padding:1em 1em 1em 0
}

.navigation .width-fix li a
{
  float:left;
  display:block;
  color:#f7f6ee;
  text-decoration:none;
  text-transform:uppercase;
  font-family:Helvetica,sans-serif!important
}

.navigation .width-fix li a:hover
{
  color:#BC5007;
  text-decoration:none
}

.width-fix
{
  margin-right:auto;
  margin-left:auto;
  max-width:685px
}

p.message
{
  background-color:#fee;
  color:#900;
  font-weight:700
}

pre
{
  overflow:auto;
  padding:1em;
  border:#CCC solid 1px;
  background-color:#F6F6F6;
  margin-top: 1em;
  margin-bottom: 1em;
}

code
{
  font-family:monospace;
}

pre code
{
  font-size: 11pt;
}


#feed
{
  float:right
}

blockquote
{
  position:relative;
  margin:1.61em 2em;
  padding-left:1em;
  border-left:2px solid #999;
  font-style:italic
}

a#license
{
  border-bottom:1px dashed;
  text-decoration:none
}

.meta
{
  margin-top:10px;
  padding-bottom:15px;
  border-top:1px dotted #ddd
}

.footnotes
{
/*  border-color:#D3D3D3;
  border-top:1px dotted
*/}

.footnotes p
{
  color:#A52A2A;
  font-size:14px
}

a[rel="footnote"],
a[rel="reference"]
{
  border:none;
  font-size:9pt;
}

.pagination
{
  clear:both;
  margin-top:20px
}

.pagination strong
{
  font-weight:400;
  font-style:italic
}

.pagination p
{
  display:block;
  width:606px;
  height:22px;
  color:#666!important;
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:10px;
  font-family:Verdana,Helvetica,Arial,sans-serif;
  line-height:22px
}

.pagination a
{
  height:0;
  border-bottom:none;
  text-decoration:none!important;
  text-transform:none;
  letter-spacing:normal;
  font-weight:700;
  font-size:12px;
  font-family:Verdana,Helvetica,Arial,sans-serif;
  line-height:18px
}

h1,h2,h3,h4,h5,h6
{
  /* color:#444; */
  /* font-weight:400 */
  font-family:Arial, Verdana, Sans-Serif;
  font-weight:bold;
  margin-top:1em;
  margin-bottom:1em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
  border-bottom:none;
  text-decoration:none
}

h1.title
{
/*  width:560px;*/
  color:#444!important;
  text-align:left
}

h1.title a
{
  border-bottom:none;
  color:#444!important;
  text-decoration:none
}

h1,h2
{
  margin:15px 0
}

h1
{
  font-size:34px;
  line-height:48px
}

h2
{
  font-size:26px;
  line-height:30px;
  color:#444!important;
}

h3
{
  font-weight:700;
  font-size:18px;
  line-height:20px
}

h3 a
{
  font:14px/16px Verdana
}

h3.posts > a
{
  font-size:14px;
  line-height:36px
}

h3.title
{
  margin-bottom:15px
}

#home
{
  float:left;
  display:inline-block;
  margin:45px 1em 0 0;
  width:32px;
  height:48px;
  background-image: image-url("home.png")
}

.aligncenter
{
  float:none;
  clear:both;
  display:block;
  margin-right:auto;
  margin-left:auto
}

#metainfo
{
  display:block;
  /*  margin:10px 0 10px 3px;*/
  color:#555;
  text-align:left;
  font-size:10pt;
  font-family:Verdana,Helvetica,Arial,sans-serif
}

.date
{
  display:inline-block;
  font-weight:bold;
  font-size:8pt;
}

.tags
{
  display:inline-block;
}

.tags a
{
  border:none;
  text-decoration:none;
  margin-left: 5px;
}

#tag-cloud a
{
  text-decoration: none;
  color: #545454;
  background-color: #ececec;
  padding: 4px 12px;
  border-radius: 12px;
  border: none !important;
}

#tag-cloud .set-1
{
  font-size:10pt;
  line-height: 32px;
}

#tag-cloud .set-2
{
  font-size:14pt;
  line-height: 38px;
}

#tag-cloud .set-3
{
  font-size:18pt;
  line-height: 46px;
}

#tag-cloud .set-4
{
  font-size:22pt;
  line-height: 52px;
}

#tag-cloud .set-5
{
  font-size:26pt;
  line-height: 58px;
}

.share
{
  float:right;
  margin:-2px 0 0
}

.archives
{
  float:left;
  margin-bottom:15px;
  width:70%
}

.tag_cloud
{
  float:left;
  width:28%;
  text-align:right
}

.tag_cloud a
{
  margin:0 2px;
  border-bottom:0
}

#cloud a
{
  border-bottom:0;
  padding:0 5px;
}

.list
{
  line-height:1.5em
}

.list a
{
  border-bottom:0
}

ol li,ul li
{
  margin-bottom:10px;
  line-height:1.5em
}

img
{
  float:none;
  clear:both;
  display:block;
  margin-right:auto;
  margin-left:auto;
  max-width:100%;
}

.related
{
  margin-top: 10px;
  padding-bottom: 15px;
  border-top: 1px dotted #ddd;
}

.related a
{
  font-size:16px;
  border: none;
}

@media screen and (max-device-width: 480px) {
  .wide .body
  {
    margin:0;
    width:100%;
    background:#FFF;
    text-align:justify
  }

  #feed,.share,.tag_cloud,.meta,.desktop
  {
    display:none
  }

  a#o2
  {
    display:none
  }

  .archives,.pagination p,h1.title
  {
    width:100%
  }

  h1.title
  {
    font-size: 24px
  }

  .navigation .width-fix
  {
    padding: 0 20px
  }
}
