html,body.wide {    
  height: 100%; 
}
body {
  background: url(//static.juev.ru/images/gradient.png) repeat-x #7c7c8a;
  /*text-align: center;*/
  /*font-size: 17px;*/
  /*line-height: 28px;*/
  font: 17px/1.5 georgia,serif;
}
body.wide {
  padding: 0;
  margin: 0;
  background: url(//static.juev.ru/images/gradient.png) repeat-x #7c7c8a;
}
.wide .main-wrapper {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}
.footer {
  text-align: center;
  padding: 10px;
  color: white;
  /*font-family: georgia,serif;*/
}
.wide .footer {
  background:#393D43;
  position: relative;
}
.wide .clear-footer {
  height: 330px;
  clear: both;
}
.footer a {
  color: #cccccc;
  text-decoration: none;
}
.footer p {
  margin: 0px 0px 5px;
}
.wide .body {
/*  text-align: justify;*/
  background: white;
  margin: 0 50px 0 50px;
}
.body {
  text-align: left
}
/*.body h1,.body h2 {
margin-top: 0;
padding-top: 0;
font-family: 'Droid Sans',sans-serif;
}*/
.clear {
  clear:both;
}
.primary-content {
  background: #ffffff;
  border-bottom: 7px solid #7f808a;
  padding: 20px;
}
.primary-content p {
  /*line-height:28px;*/
  /*font-size: 17px;*/
  /*font-family: georgia,serif;*/
}
.primary-content a, .primary-content a:visited {
  color: #055580;
  text-decoration: none;
  border-bottom: 1px dashed;
}
.primary-content a:hover {
  color: #0097E8;
  text-decoration: none;
}
.navigation {
  height: 48px;
  /*height: 62px;*/
  background: #393d43;
  color: #fff;
  font-size: 15px;
  vertical-align: middle;
}
.navigation .navigation-label {
  padding: 1em;
  margin: 0;
  color: #979899;
  float: left;
  cursor: default;
}
.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left
}
.navigation li {
  float: left;
  padding: 1em 1em 1em 0;
}
.navigation li a {
  color: white;
  text-decoration: none;
  display:block;
  float:left;
  font-family: Helvetica, sans-serif !important;
}
.navigation li a:hover {
  text-decoration: underline
}
.navigation .navigation-separator {
  display:none;
}
.navigation li + li .navigation-separator {
  cursor: default;
  padding: 0 1em 0 1em;
  display:block;
  float: left;
  color: white
}
.userbar {
  background-color: white;
  padding: 3px 1em 3px 0;
  border-top: 3px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: right;
  height: 20px;
}
.width-fix {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
textarea {
  width: 500px;
  height: 130px;
}
textarea#content {
  width: 600px;
  height: 500px;
}
p.message {
  background-color: #fee;
  color: #900;
  font-weight: bold;
}

.dummy {
  height: 160px;
}

.lines {
  white-space: pre;
}

pre {
  background-color: #F6F6F6;
  overflow:auto;
  padding: 1em;
  border:#CCC solid 1px;
  font-size: 0.9em;
}
code{
  font-size: 0.9em;
}

#feed{
  float: right;
}

blockquote {
  position: relative;
  margin: 1.5em 4em;
  border-left: 2px solid #999;
  padding-left: 1em;
  font-style: italic;
}
a#license{
  text-decoration: none;
  border-bottom: 1px dashed;
}

.meta {
  border-top: 1px dotted #ddd;
  padding-bottom: 15px; 
  margin-top: 20px;
}

.footnotes {
  border-top: 1px dotted; border-color: lightgray;
}

.footnotes p {
  font-size: 14px;
  color: brown;
}

.pagination              { clear: both; margin-top: 20px; }
.pagination strong       { font-weight: normal; font-style: italic; }
.pagination p            { display: block; text-transform: uppercase; font-family: 'Verdana', Helvetica, Arial, sans-serif;
  color: #666 !important;
  font-size: 10px;
  height: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  width: 606px; }
.pagination a            { font-family: 'Verdana', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold;
  /*color: #055580; text-decoration: none;*/
  text-transform: none;
  text-decoration: none !important;
  height: 0px;
  border-bottom: none;
  line-height: 18px;
  letter-spacing: normal; }

/*h1, h2, h3, h4, h5, h6 { font-family: 'Georgia', sans-serif; font-weight: normal; color: #444; }*/
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #444; }
h1 a, h2 a, h3 a, h4 a,
h5 a, h6 a                  { text-decoration: none; border-bottom: none; }
h1.title                    { width: 660px; text-align: left; color; #444 !important; }
h1.title a                  { text-decoration: none; border-bottom: none; color: #444 !important; }
h1, h2                      { margin: 25px 0 5px 0; }
/*h1                          { font-size: 48px; line-height: 52px; font: 48px/52px 'Georgia';}*/
h1                          { font-size: 48px; line-height: 52px; }
h2                          { font-size: 30px; line-height: 30px; }
h3                          { font-size: 18px; line-height: 20px; font-weight: bold; }
h3 a                        { font: 14px/16px 'Verdana' }
h3.posts > a                { font-size: 14px; line-height: 36px; }
h3.title                    { margin-bottom: 15px; }
.allpostsmeta a          {
  font-family: Helvetica, sans-serif !important;
  font-weight: bold;
  font-size: 28px !important;
  color: #DEDEDE !important;
}
#home{
  display: inline-block;
  background-image: url(//static.juev.ru/images/home.png);
  height: 48px;
  width: 32px;
  float: left;
  margin: 0 1em 0 0;
}
.aligncenter { clear: both; display: block; float:none; margin-left: auto; margin-right: auto; }
.tags {
  display:block;
  /*margin: 5px 0 15px 0;*/
  text-align: right;
}
.tags a {
  text-decoration:none;
  border: none;
}
.share {
  float: left;
}
.date {
  text-align: right;
  font-size: 0.9em;
}
.archives {
  float: left;
  width: 70%;
  margin-bottom: 15px;
}
.tag_cloud {
  float: left;
  width: 28%;
  text-align: right;
}
.tag_cloud a {
  margin: 0 2px;
  border-bottom: 0px;
}
.list {
  line-height: 1.5em;
}
.list a{
  border-bottom: 0px;
}
ol li, ul li {
  margin-bottom: 10px;
  line-height: 1.5em;
}

img{
  clear: both; display: block; float:none; margin-left: auto; margin-right: auto;
}

@media screen and (max-device-width: 480px) {
  .wide .body { text-align: justify; background: white; margin: 0; width: 100%; }
  #feed { display: none; }
  .footer { display: none; }
  .share { display: none; }
  .archives { width: 100%; }
  .tag_cloud { display: none; }
  .pagination p { width: 100%; }
  h1.title  { width: 100%; }
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  .footer { content: ""; }
  .share { display: none; }
  .tags { display: none; }
  .meta { display: none; }
  .navigation { display: none; }
  .userbar { display: none; }
}
