{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }} {{- define "main" -}}
<header class="post-header">
    <h1 itemprop="name headline" class="post-title">{{- .Title -}}</h1>
    <div id="metainfo">
        <span class="date" itemprop="datePublished">{{ .Date.Format "2 January 2006" }}</span>{{ with .Params.tags }}
        <span class="tags" itemprop="keywords">{{ range . }}
            <a rel="category tag" href="{{ "tags" | absURL }}/{{ . | urlize }}" title="View posts tagged with &quot;&quot;{{ . }}">#{{ . }}</a>{{ end }}
        </span>{{ end }}
    </div>
</header>
<div class="post-content" itemprop="articleBody">
    <article class="post" itemscope itemtype="https://schema.org/BlogPosting">
        {{ .Content }}
    </article>
</div>
<footer class="article-footer">
    {{ "<!-- noindex -->" | safeHTML }}
    <p>Вы можете связаться со мной с помощью
    <script>document.write("<n uers=\"znvygb:qravf\100riflhxbi\056bet\">rznvy</n>".replace(/[a-zA-Z]/g, function (c) { return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26); }));</script>,
    <a itemprop="url" href="https://twitter.com/#!/juev" rel="nofollow">twitter</a> или&nbsp;<a itemprop="url" href="https://github.com/juev" rel="nofollow">github</a></p>
</footer>
{{- end -}}
