{{ define "title" }}Page Not Found &ndash; {{ .Site.Title }}{{ end }}

{{ define "main" }}
The server was unable to find the page you asked for, and it's probably my fault. I'm sorry.

<blockquote>
    <p>
        It is the the duty of a Webmaster to allocate URIs which you will be able to
        stand by in 2 years, in 20 years, in 200 years. This needs thought, and
        organization, and commitment.
    </p>

    <p>
        – Tim Berners-Lee, <a href="https://www.w3.org/Provider/Style/URI">Cool <abbr>uri</abbr>s don&rsquo;t
            change</a>.
    </p>
</blockquote>

I try my hardest to avoid this, so it may be that you have discovered a problem I don't know about yet. If you think
that is the case, you would do me a great service by contacting me at email address, and telling me about it.
{{ end }}
