{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $posts := ($.Site.GetPage "section" "posts").Pages.ByDate.Reverse }}
{{ range first 1 $posts }}
<h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
<div id="metainfo"><span class="date">{{ .Date.Format "2 January 2006" }}</span></div>
<div class="post">
    {{ .Content }}
</div>
{{ end }}
<div class="meta">
    <div class="pagination">
        <p class="allpostsmeta"><a href="{{ .Site.BaseURL }}posts/" title="Список всех статей" rel="nofollow">Список
                всех статей</a></p>
    </div>
</div>
{{ end }}
