<!--noindex--><div>
    <a href="#" class="share" id="facebook" onclick="window.open('http://www.facebook.com/sharer.php?u={{site.url}}{{ page.url }}'); return false;" title="Share It!" rel="nofollow"></a>
	<a href="#" class="share" id="twitter" onclick="window.open('http://twitter.com/home?status={{ page.title }} | {{site.url}}{{ page.url }}'); return false;" title="Tweet It!" rel="nofollow"></a>
    <a href="#" class="share" id="digg" onclick="window.open('http://digg.com/submit?url={{site.url}}{{ page.url }}'); return false;" title="Digg It!" rel="nofollow"></a>
    <a href="#" class="share" id="evernote" onclick="Evernote.doClip({providerName:'Open Source Life'}); return false;" title="Save It!" rel="nofollow"></a></div><!--/noindex-->
