<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Evsyukov Denis">
    <title>{{ page.title }} - Open Source Life</title>
    <link rel="stylesheet" href="/assets/master.css" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="Open Source Life RSS Feed" href="http://feeds.feedburner.com/Juev" />
    <link rel="icon" type="image/ico" href="/favicon.ico" /> 
    <link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />
    <link rel="author" href="/humans.txt" />
{% if page.description %}    <meta name="description" content="{{page.description}}" />{% else %}     <meta name="description" content="{{site.description}}" />{% endif %}
{% if page.keywords %}    <meta name="keywords" content="{{page.keywords}}" />{% else %}    <meta name="keywords" content="{{site.keywords}}" />{% endif %}
    <meta name="robots" content="{{page.index}}index,{{page.follow}}follow" />
  </head>

  <body>
    <div class="container">
      <div class="wraper">
        {{ content }}
      <div class="footer">
        <p>&copy; Copyright 2008-2011 by Denis Evsyukov.</p>
		<p>Content licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="nofollow" id="license">Creative Commons attribution-noncommercial-sharealike License.</a></p>
        <p>Contact me via <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#101;&#110;&#105;&#115;&#64;&#101;&#118;&#115;&#121;&#117;&#107;&#111;&#118;&#46;&#111;&#114;&#103;" rel="nofollow">mail</a>,
          <a href="http://twitter.com/juev" rel="nofollow">twitter</a> or
		  <a href="http://github.com/juev" rel="nofollow">github</a></p>
      <p><a href="/humans.txt" rel="nofollow">humansTXT</a></p>
      </div>
      </div>
      <div class="sidebar">
        <div id="logo">
          <a href="/"><img src="http://static.juev.ru/images/calvin.png" alt="main"
            id="logo" /></a>
        </div>
        <ul class="nav">
          <li><a href="/articles.html" rel="nofollow">Все статьи</a></li>
          <li><a href="http://denis.evsyukov.org">Об авторе</a></li>
          <li><a href="/search.html" rel="nofollow">Поиск</a></li>
        </ul>
          <p class="nav"><a href="http://feeds.feedburner.com/Juev" rel="nofollow"><img src="http://feeds.feedburner.com/~fc/Juev?bg=FF9900&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript">$.getScript("/assets/master.js");</script>
  </body>
</html>
