---
layout: default
---
<h1 class="title">{{ page.title }}</h1>
<p class=date>Published &thinsp;&bull; {{ page.date | date: '%d' }} <abbr>{{ page.date | date: '%b' }}</abbr> {{ page.date | date: '%Y' }}
{{ content }}
<p class="note">С замечаниями и вопросами можно обратиться по адресу <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#101;&#110;&#105;&#115;&#64;&#101;&#118;&#115;&#121;&#117;&#107;&#111;&#118;&#46;&#111;&#114;&#103;">&#100;&#101;&#110;&#105;&#115;&#64;&#101;&#118;&#115;&#121;&#117;&#107;&#111;&#118;&#46;&#111;&#114;&#103;</a></p>
<div class="meta">
  {% include buttons.html %}{% include nav.html %}
  <div class="twitter">
   <div class="twitter-trackbacks"></div>
  </div>
</div> <!-- /.meta -->
