---
layout: default
---
<a href="{{page.url}}"><h1 class="title">{{ page.title }}</h1></a>
<div class=date>Published &thinsp;&bull; {{ page.date | date: '%d' }} <abbr>{{ page.date | date: '%b' }}</abbr> {{ page.date | date: '%Y' }}
</div>
<div class="article">
{{ content }}
</div>
<div class="share">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="Juev">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div class="meta">
  {% include nav.html %}
</div> <!-- /.meta -->
